:root {
  --color-dark: #4a525f;
  --color-gray: #abb7b7;
  --color-light: #faf7f2;
  --color-base: #68c39f;
  --color-click: #d5b97e;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8rem;
}

caption {
  font-size: 1rem;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr.scenario {
  background-color: var(--color-click);
}

td:nth-child(2) {
  border-right: 1px dotted var(--color-dark);
  padding: 0 .5rem;
  text-align: right;
}

td:nth-child(3) {
  border: 1px dotted var(--color-dark);
  padding: 0 .5rem;
}

.analysis:not(.scenario) {
  background-color: var(--color-gray);
}

.arrow {
  background-color: var(--color-dark);
  position: absolute;
  top: 10rem;
  left: 601px;
  height: .2rem;
  width: 8rem;
}

.arrow-right {
  border-bottom: .5rem solid transparent;
  border-left: .5rem solid var(--color-dark);
  border-top: .5rem solid transparent;
  height: 0;
  left: 7.7rem;
  position: absolute;
  top: -0.4rem;
  width: 0;
}

.bar {
  background-color: var(--color-dark);
  display: block;
  height: 8px;
  width: 100px;
}

.button-reset {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  width: 80vw;
}

.flex {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.no-click {
  pointer-events: none;
}

.node {
  background-color: var(--color-base);
  border-radius: .3rem;
  border: .1rem solid var(--color-dark);
  color: var(--color-light);
  margin: 2rem 4rem;
  padding: .5rem;
  width: 300px;
}

.reset {
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-base);
  border-radius: .3rem;
  border: .1rem solid var(--color-dark);
  color: var(--color-light);
  font-size: 1rem;
  padding: .3rem 1rem;
}

.reset:hover {
  opacity: 0.9;
}

.title {
  color: var(--color-dark);
  text-align: center;
}
