<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Demo Widgets</title>
  </head>
  <body>
    <div class="arrow">
      <span class="arrow-right"></span>
    </div>
    <div id="app">
      <div class="container">
        <h2 class="title">{{ title }}</h2>
        <div class="flex">
          <node-class
            v-for="s in actualScenario"
            :key="s.id"
            v-bind="s"
            v-on:toggle-scenario="toggleScenario"
          >
          </node-class>
        </div>
        <div class="button-reset">
          <button
            :class="[ 'reset', { 'analysis': isDiagnosis , 'no-click': isDiagnosis } ]"
            @click="toggleState"
          >
            Back to Diagnosis
          </button>
        </div>
      </div>
    </div>
    <script src="js/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
    <script src="js/components.js"></script>
  </body>
</html>
